* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: azure;
    font-family: Arial, sans-serif;
    width: 500px;
    margin: 0 auto;
}

/* ================== */
/* VERSIÓN DESKTOP    */
/* ================== */


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    background-color: blanchedalmond;
    max-width: 100%;
}

main {
    background-color: blanchedalmond;
    width: 95%;
    height: 95vh;
    margin: 0;
    border-radius: .625rem;
    overflow: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

/* Menu de lista */
.seccion-botones-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.boton-agregar,
.boton-ver-tareas {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    width: 90%;
}

.seccion-titulo {
    text-align: center;
    font-size: 1.2rem;
}

/* Lista de tareas */
.seccion-tareas {
    padding: 10px;
    height: 85%;
    width: 100%;
    padding: 0.5rem;
    overflow-y: auto;
}

.flecha-siguiente,
.flecha-atras {
    height: 1.5rem;
}

.boton-atras {
    padding: .5rem .75rem;
}

.seccion-botones-lista {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paginaActual {
    padding-top: 15px;
    text-align: center;
}

.icono-sumar, .icono-menu {
    width: 30px;
    height: 30px;
    
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 35px;
    background-color: white;
}

.seccion-titulo-tereas {
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulo-tareas {
    
    margin: 0 12px;
}

/* Formulario de tarea */
.seccion-formulario {
    padding: 1rem;
}

.seccion-formulario form label {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}


.seccion-formulario form {
    display: flex;
    flex-direction: column;
}

.label-titulo input {
    margin-top: 10px;
    height: 2rem;
    padding-left: .5rem;
}

.label-desc textarea {
    margin-top: 10px;
    height: 8rem;
    padding: .5rem;
}

.seccion-formulario form input {
    margin-left: 0;
}

.seccion-titulo {
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.seccion-titulo .cont-img {
    visibility: hidden;
}

/* Tareas */
.seccion-titulo-tereas {
    text-align: center;
    font-size: 1.2rem;
}

.titulo-tarea,
.fecha-tarea,
.des-tarea {
    padding-bottom: 10px;
}

.tarea-item {
    padding: 15px 0;
    border-bottom: 1px solid rgb(133, 133, 133);
}

.activo {
    display:none;
}
